/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';
@import '@fontsource/caveat-brush/400.css';

@layer base {
  html, body {
    font-family: 'Nunito', sans-serif;
  }
}

@layer utilities {
  .font-cute {
    font-family: 'Nunito', sans-serif;
  }
  .font-caveat {
    font-family: 'Caveat Brush', cursive !important;
  }
}
